/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 8rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 4em;
}

@media screen and (min-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
  .buttons {
    padding-top: 2rem;
  }
}
