.doodle pre {
  background-color: unset;
  border-radius   : unset;
  color           : initial;
  font            : unset;
  line-height     : 1.3;
  margin          : unset;
  overflow        : unset;
  padding         : unset;
}

.doodle {
  /*border-radius: 4px;*/
  margin-bottom     : var(--rich-content-margin-bottom);
  -webkit-transition: .2s;
  transition        : .2s;
  /*line-height: initial;*/
}

.doodle * {
  color       : revert;
  color-scheme: normal;
}

.doodle div:focus {
  outline:none
}

.doodle a {
  color: revert;
  text-decoration: revert;
  transition: revert;
}

.doodle img {
  max-width: revert;
}

/*.doodle.border {*/
/*  border: 1px solid #eaeefb;*/
/*}*/

/*.doodle:hover {*/
/*  -webkit-box-shadow: 0 0 18px rgba(0,0,0,0.1), 0 2px 8px 0 rgba(0,0,0,0.1);*/
/*  box-shadow        : 0 0 18px rgba(0,0,0,0.1), 0 2px 8px 0 rgba(0,0,0,0.1);*/
/*}*/
